#mainContent{
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.container{
	width:990px;
}
.mainNav,.footNav{
	background-color: #D8ECF6!important;
	border-radius: 4px;
}
p#footfont{/*尾部字体样式*/
	color:black!important;
}
.mainNav ul li a { 
	color:black!important;
}
