#userlcontent {
	margin: 0 auto;
	width: 990px;
	background-color: gray;
	height: 990px;
}

#userl1 {
	background-color: red;
}
.userleft{
	width: 165px;
	height: 60px;
	text-align: center;
	padding-top: 10px;

}
